@import "./base.scss";

@media(max-width: $break-point) {
        
    header {
        
        .fas {
            display: none;
        }
    }
    
    .Res-container {
        
        // display: flex;
        flex-direction: column;
        .info {
            .temp-sec {

                flex-direction: column;
                /* overflow: hidden; */
                align-items: baseline;
                width: 70%;
                .icon {
                    align-self: center;
                }
            }
        }
    }
    form {
        span {
            display: flex;
            flex-direction: column;
        }
    }
    
}

@media(max-width: $small_point) {
    .todo-list {

        .to-do-list {
            width: 80%;

        }
    }


}




