@import "./base.scss";

@media(max-width: $break-point) {
        
    header {
        
        .fas {
            display: none;
        }
    }
    
    .Res-container {
        
        display: flex;
        flex-direction: column;
    }
    
    
}




