@import "./base.scss";
/*
.save-btns {
    display:none;
    justify-content: flex-start;
    align-self: end;
    justify-self: start;
    button {
        margin: 40px 10px;
        width: 200px;
        // height: 35px; 
        border-radius: 15px;
        border-color: #F3F8FA;
        background-color: #F48B29;
        font-family: "Alfa Slab One", cursive;
        color: #F3F8FA;
        font-size: 20px;
        padding: 5px;
        cursor: pointer;
    }
}
*/
.Res-container {
    
    // display: flex;
    display: none;
    flex-direction: row;
    justify-content:space-between;
    border-style: solid;
    border-color: white;
    margin: 0 20px;
    box-shadow: 5px 5px whitesmoke;
    padding: 40px 0;
    border-radius: 15px;
    
    .location-img {
        
        width: 50%;
        
        
        img {
            
            width: 100%;
        }
    }
    
    .info {
        
//        margin: 0 20px 0 0;
        font-size: 30px;
        width: 40%;
        
        
        .countdown {
           
            .days, .country {
                
                color: $btn-color;
                
            }
        }
        h3 {
            
            font-family: $btn-font;
            font-weight: 100;
            margin: 20px 0;
            color: $btn2-color;
            
        }
        
        h4 {
            
            color: $font-color;
            text-decoration: underline;
            text-transform: uppercase;
            margin: 10px 0 20px 0;
        }
        .temp-sec {
            background-color: #f48b29;
            width: 80%;
            padding: 5px 10px 5px 20px;
            display: flex;
            

            .temps, .weather-info {
            
                color: $base-color;
                background-color: $btn2-color;
                width: 80%;
                padding: 5px 10px 5px 20px;
              
            }
            
        }
        
        
    }
    
}
